---
layout: layout
---

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		extensions:	[
			"MathMenu.js",
			"MathZoom.js",
			"AssistiveMML.js",
			"ally/accessibility-menu.js"
		],
		jax: ["input/TeX", "output/CommonHTML"],
		TeX: {
			extensions:	[
				"AMSmath.js",
				"AMSsymbols.js",
				"noErrors.js",
				"noUndefined.js",
			]
		}
	});
</script>

<script type="text/javascript" async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=Tex-MML-AM_CHTML">
</script>

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <img src="{{ site.github.owner_gravatar_url }}?s=142" height="50" width="50" />
      </a>

      <p>
        Post-graduate research student at the University of Glasgow, United Kingdom.<li><a href="/about.html">See about to learn more.</a></li>
      </p>

    </section>
  </section>
</section>